template:
  path: "htan-synapse-sync-kms-key.yaml"
stack_name: "htan-synapse-sync-kms-key"
stack_tags:
  OwnerEmail: "adam.taylor@sagebase.org"
  CostCenter: "HTAN-DFCI / 120100"
parameters:
  AdminRoleArns:
    - "arn:aws:sts::055273631518:assumed-role/AWSReservedSSO_Developer_d1a84a78c9777596/thomas.yu@sagebase.org"
    - !stack_output_external "sagebase-github-oidc-sage-bionetworks-scicomp-provisioner::ProviderRoleArn"
