# Provision a Synapse External Bucket (http://docs.synapse.org/articles/custom_storage_location.html)
template:
  type: "http"
  url: "https://raw.githubusercontent.com/Sage-Bionetworks/aws-infra/v0.4.8/templates/S3/synapse-external-bucket.j2"
stack_name: "nf-syn23664726-s3"
stack_tags:
  Department: "SCCE"
  Project: "neurofibromatosis"
  OwnerEmail: 'robert.allaway@sagebionetworks.org'
  CostCenter: "NTAP NF Addendum 4 / 301100"
parameters:
  # The Sage deparment (Platform, CompOnc, SysBio, Governance, etc..)
  Department: "SCCE"
  # The Sage project (Infrastructure, amp-ad, ntap, dream, etc..)
  Project: "neurofibromatosis"
  # The resource owner
  OwnerEmail: 'robert.allaway@sagebionetworks.org'

  # The following parameters are only examples they are not required.
  # You may omit them if you do not need to override the defaults.

  # (Optional) true for read-write bucket, false (default) for read-only bucket
  AllowWriteBucket: 'true'
  # (Optional) Synapse username (default: ""), required if AllowWriteBucket=true
  SynapseUserName: 'allawayr'
  # (Optional) Allow accounts, groups, and users to access bucket (default is no access).
  GrantAccess:
    - 'arn:aws:iam::325565585839:root'   # Required ARN for a synapse bucket
    - 'arn:aws:sts::563295687221:assumed-role/AWSReservedSSO_Developer_baa6fed639faf5e7/robert.allaway@sagebase.org'
