template:
  type: "http"
  url: "https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/aws-infra/v0.3.9/EC2/jc-ec2-linux.j2"
stack_name: "psorcast-ec2"
stack_tags:
  Department: "SysBio"
  Project: "psorcast"
  OwnerEmail: "vijay.yadav@sagebase.org"
  CostCenter: "Psorcast Pscrosis App / 613500"
sceptre_user_data:
  Distro: "ubuntu"
parameters:
  JcUserId: "vijay.yadav@sagebase.org"
  VpcName: "computevpc"
  KeyName: "scicomp"
  AMIId: "ami-0b7906ab614596e7e"  # packer-base-ubuntu-bionic-v1.0.9
  InstanceType: "p2.xlarge"     # 1GPU / 4 vCPUs / 61 GiB / 12 GiB SSD
  VolumeSize: "300"

  JcConnectKey: !ssm "/infra/JcConnectKey"
  JcServiceApiKey: !ssm "/infra/JcServiceApiKey"
  JcSystemsGroupId: !ssm "/infra/JcSystemsGroupId"
