template_path: "remote/s3-synapse-sync.yaml"
stack_name: "s3-synapse-sync"
stack_tags:
  Department: "CompOnc"
  Project: "HTAN"
  OwnerEmail: "xengie.doan@sagebase.org"
dependencies:
  - "prod/htan-synapse-sync-kms-key.yaml"
hooks:
  before_launch:
    - !cmd "curl https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/s3-synapse-sync/master/s3-synapse-sync.yaml --create-dirs -o templates/remote/s3-synapse-sync.yaml"
parameters:
  BucketVariables: !file_contents "data/s3-synapse-sync-bucket-vars.yaml"
  KmsDecryptPolicyArn: !stack_output_external "htan-synapse-sync-kms-key::KmsDecryptPolicyArn"
  BucketNamePrefix: "htan-dcc-*"
  SynapseCanonicalId: "d9df08ac799f2859d42a588b415111314cf66d0ffd072195f33b921db966b440"
