template:
  type: "http"
  url:  "https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/s3-synapse-sync/1.7.3/s3-synapse-sync.yaml"
stack_name: "s3-synapse-sync"
stack_tags:
  OwnerEmail: "adam.taylor@sagebase.org"
  CostCenter: "HTAN-DFCI / 120100"
dependencies:
  - "prod/htan-synapse-sync-kms-key.yaml"
parameters:
  CIDR: "10.50.0.0/16"
  BucketVariables: >-
    {
      "htan-dcc-center-a":{"SynapseProjectId":"syn22343754"},
      "htan-dcc-ohsu":{"SynapseProjectId":"syn22093319"},
      "htan-dcc-tma-tnp":{"SynapseProjectId":"syn22041595"},
      "htan-dcc-msk":{"SynapseProjectId":"syn23448901"},
      "htan-dcc-duke":{"SynapseProjectId":"syn23511961"},
      "htan-dcc-tnp-sardana":{"SynapseProjectId":"syn24984270"},
      "htan-dcc-hms":{"SynapseProjectId":"syn22123910"},
      "htan-dcc-stanford":{"SynapseProjectId":"syn23511964"},
      "htan-dcc-chop":{"SynapseProjectId":"syn22776798"}
    }
  KmsDecryptPolicyArn: !stack_output_external "htan-synapse-sync-kms-key::KmsDecryptPolicyArn"
  BucketNamePrefix: "htan-dcc-*"
  DockerImage: "clarisselau/minerva-batch"
  Subnets:
    - !stack_output_external "computevpc::PrivateSubnet"
    - !stack_output_external "computevpc::PrivateSubnet1"
    - !stack_output_external "computevpc::PrivateSubnet2"
  VpcID: !stack_output_external "computevpc::VPCId"
