template_path: remote/s3-synapse-sync.yaml
stack_name: s3-synapse-sync
stack_tags:
  Department: "CompOnc"
  Project: "HTAN"
  OwnerEmail: "xengie.doan@sagebase.org"
hooks:
  before_launch:
    - !cmd "curl https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/s3-synapse-sync/master/s3-synapse-sync.yaml --create-dirs -o templates/remote/s3-synapse-sync.yaml"
