repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/adrienverge/yamllint
    rev: v1.30.0
    hooks:
    -   id: yamllint
-   repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.77.0
    hooks:
    -   id: cfn-python-lint
        files: templates/.*\.(json|yml|yaml)$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.1
    hooks:
    -   id: remove-tabs
-   repo: https://github.com/sceptre/sceptrelint
    rev: v1.3.0
    hooks:
    -    id: check-file-names
    -    id: check-stack-names
    -    id: check-stack-tag-values
         args: [--tag=CostCenter,
                --file=https://mips-api.finops.sageit.org/tags,
                --file=DeprecatedProgramCodes.json,
         ]
-   repo: https://github.com/sirosen/check-jsonschema
    rev: 0.22.0
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
-   repo: https://github.com/aristanetworks/j2lint.git
    rev: v1.1.0
    hooks:
      - id: j2lint
